<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="/css/lines.css" rel='stylesheet' type='text/css'/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <script src="/js/jquery.min.js"></script>
    <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'/>
    <link href="/css/custom.css" rel="stylesheet"/>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/d3.v3.js"></script>
    <script src="/js/rickshaw.js"></script>
</head>
<body>
<div id="wrapper">

    <nav th:fragment="navigator" class="top1 navbar navbar-default navbar-static-top" role="navigation"
         style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html">Watcher</a>
        </div>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="m_2"><a href="/profile.html"><i class="fa fa-user"></i> Profile</a></li>
                    <li class="m_2"><a href="/logout.do"><i class="fa fa-lock"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/index.html"><i class="fa fa-dashboard fa-fw nav_icon"></i>Home</a>
                    </li>
                    <li>
                        <a href="/register_device.html">
                            <i class="fa fa-check-square-o nav_icon"></i>
                            Register device
                        </a>
                    </li>
                    <li>
                        <a href="/register_report.html">
                            <i class="fa fa-check-square-o nav_icon"></i>
                            Register report
                        </a>
                    </li>
                    <li>
                        <a href="/register_control.html">
                            <i class="fa fa-check-square-o nav_icon"></i>
                            Register control
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>
    <div id="page-wrapper">
        <div class="graphs">
            <div class="xs content_bottom">
                <h3>Home</h3>
                <div class="bs-example4" data-example-id="contextual-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Device id</th>
                            <th>Device name</th>
                        </tr>
                        </thead>
                        <tr th:class="${rowStat.odd} ? 'active' : 'success'"
                            th:each="device,rowStat : ${curUser.getDevices()}">
                            <th scope="row" th:text="${device.getId()}"></th>
                            <td th:text="${device.getName()}"></td>
                        </tr>
                    </table>
                </div>

                <div class="bs-example4" data-example-id="contextual-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Control id</th>
                            <th>Control name</th>
                        </tr>
                        </thead>
                        <tr th:class="${rowStat.odd} ? 'active' : 'success'"
                            th:each="controlDef,rowStat : ${curUser.getControlDefs()}">
                            <th scope="row" th:text="${controlDef.getId()}"></th>
                            <td th:text="${controlDef.getName()}"></td>
                            <td th:text="${controlDef.getType(fields)}"
                                th:each="fields : ${controlDef.getField()}"></td>
                        </tr>
                    </table>
                </div>

                <div class="bs-example4" data-example-id="contextual-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Report id</th>
                            <th>Report name</th>
                        </tr>
                        </thead>
                        <tr th:class="${rowStat.odd} ? 'active' : 'success'"
                            th:each="reportDef,rowStat : ${curUser.getReportDefs()}">
                            <th scope="row" th:text="${reportDef.getId()}"></th>
                            <td th:text="${reportDef.getName()}"></td>
                            <td th:text="${reportDef.getType(fields)}" th:each="fields : ${reportDef.getField()}"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div th:fragment="footer" class="copy">
                <p>Copyright &copy; 2016 ZJU. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
